.answerContainer {
	width: 50%;
	height: 50vh;
	background: #98ff98;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;

	&.megaStage {
		transition: all 0.5s ease-in;
	}

	.answers {
		display: flex;
		flex-direction: column;
		justify-content:space-between;
		width: 100%;
		height: 80%;
	}

	.answerFlex {
		display: flex;
		justify-content:space-around;
	}

	.arrow {
		background: red;
		border: none;
		height: 50px;
		width: 50px;

	}
	.previousArrow {
		background: url("/images/assets/arrowL.png") no-repeat;
		background-position:center;
		// background:yellow;
		background-size: contain;
	}
	.nextArrow {
		background: url("/images/assets/arrowR.png") no-repeat;
		background-position:center;
		background-size: contain;
	}
}
