.digimonContainer{
	min-height:300px;
	height:100vh;
	background: white;
	min-width: 50%;
	color:black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.digimon {
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	width: 100%;

	display: flex;
	#currentDigimon {
		max-width: 33.3%;
		align-self: center;
	}
}
