.questionContainer {
	width: 50%;
	height: 50vh;
	background: bisque;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease-in;

  &.megaStage{
    width: 0;
  }
}
